/* Global styles ============= */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* div {
  border: 1px solid green;
} */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
}

a {
  color: #fdcc52;
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

/* Navigation-bar */

.logo {
  font-family: "Pacifico", cursive;
  font-size: 28px;
  text-align: center;
  align-self: flex-start;
}

.logo a {
  text-decoration: none;
}

.nav-list ul {
  gap: 20px;
}

.nav-list a {
  color: white;
}

.masthead {
  position: relative;
  width: 100%;
  padding: 100px;
  background: url(/assets/images/bg-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.header-content {
  max-width: 500px;
  margin-bottom: 100px;
  align-items: center;
}

.header-content h1 {
  font-size: 32px;
}

.device-container {
  max-width: 400px;
  margin: 0px auto;
}

.screen img {
  border-radius: 25px;
}

.btn {
  border-radius: 25px;
}

/* Download Section */

.download {
  background-color: #fdc949;
}

.download h2 {
  font-size: 50px;
  margin-top: 0;
}

.dl-box {
  display: flex;
  flex-direction: column;
}

.download .badges .badge-link {
  margin-bottom: 25px;
}

.download .badges .badge-link img {
  height: 60px;
}

/* Testimonials sections */

.testimonial-item img {
  max-width: 12rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* CTA Section */

#signup {
  background: url(/assets/images/SF.svg);
}

/* Contact Section*/

.contact-section {
  background-color: black;
}

footer {
  background-color: #313131;
  color: white;
  text-align: center;
}
